# Dépendances
/vendor/

# Cache et logs
/var/

# Fichiers générés par Symfony
/public/bundles/
/symfony.lock


# Environnements locaux
# Env files (partout)
**/.env
**/.env.local
**/.env.*.local
**/.env.docker
**/.env.dev
**/.env.test
**/.env.local.php


# PHPUnit
.phpunit.result.cache
.phpunit.cache

# IDE / éditeurs (au cas où)
.idea/
/.vscode/
/nbproject/
/*.swp
*~
*.kate-swp

# Fichiers système
.DS_Store
Thumbs.db

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
