# Dépendances
/vendor/

# Cache et logs
/var/

# Fichiers générés par Symfony
/public/bundles/
/symfony.lock


# Environnements locaux
# Env files (partout)
**/.env
**/.env.local
**/.env.*.local
**/.env.docker
**/.env.dev
**/.env.test
**/.env.local.php


# PHPUnit
.phpunit.result.cache
.phpunit.cache

# IDE / éditeurs (au cas où)
.idea/
/.vscode/
/nbproject/
/*.swp
*~
*.kate-swp

# Fichiers système
.DS_Store
Thumbs.db
