<footer class="site-footer">
  <div class="container footer-bottom">
    <small>© {{ "now"|date("Y") }} Association Défense, Justice et Droit pour Tous — Tous droits réservés.</small>
    <small class="sep">|</small>
    <a class="link" href="{{ path('cgv') }}">CGV / CGU</a>
  </div>
</footer>
